*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}

body {
    min-height: 100vh;
}

.panel-menu{
    display: none;
    padding: 20px 10px 20px 10px;
}

.panel-menu ul{
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.panel-menu ul a{
    text-align: center;
    padding: 10px;
    width: 100%;
}

.panel-menu ul a:hover{
    background-color: #83DFFD;
}